body {
    font-family: Arial;
    margin: 0;
  }
  
  * {
    box-sizing: border-box;
    color: black;
  }
  
  
  img {
    vertical-align: middle;
  }
  .main {
    width: 90%;
    height: 200%;
    margin: auto;
  }
  .breadcrumb{
    width: 500px   ;
    height: 10%;
    margin-top: 70px;
    display: flex;
  }
  .namephone{
    width:100%; 
    height:15%;
  }
  .rowdetail {
    display: flex;
    border-top: 1px solid #e5e5e5;
    padding: 10px ;
    margin: auto;
    width: 100%;
    height: 50%;
  }
  .info {
    border-top: 1px solid  #e5e5e5;
    margin-top:5%;
    padding: 0.5rem 1rem;
    width: 100%;
    height: 90%;
  }
  .breadcrumb .home {
    width: 20%;
    height: 100%;
    display: flex;
  }
  .breadcrumb .Typephone{
    width: 20%;
    height: 100%;
    display: flex;
  }
  .breadcrumb .namephone{
    width: 60%;
    height: 100%;
  }
  .breadcrumb   a{
    width: 80%;
    height: 100%;
    font-size: 100%;
    margin: auto;
    text-decoration: none;
    color: blue;
  }
  .breadcrumb   a:hover{
      color: red;
  }
  .breadcrumb  span{
    width: 20%;
    height: 100%;
    font-size: 100%;
    margin: auto;
  }
  .breadcrumb p {
    width: 100%;
    height: 100%;
    font-size: 100%;
    margin: auto;
  }
  .namephone h1 {
    margin-top: 5%;
    margin-left: 0%;
    font-weight: bold;
  }
  .rowdetail .img-phone {
    position: relative;
    z-index: 0.01px;
    width: 40%;
    height:100%;
  }
  .rowdetail .price{
    width: 30%;
    height: 100%;
  
  }
  .rowdetail .parameter{
    width: 30%;
    height: 100%;
  }
  .rowdetail .img-phone  img {
    margin-top: 5%;
    width: 95%;
    height:95%;
  }

  .rowdetail .price .cost{
    width: 100%;
    height: 15%;
  }
  .rowdetail .price .promotion{
    border: 1px solid #ddd;;
    margin-top: 5%;
    width: 90%;
    height: 55%;
    padding: 0.5rem 1rem;
  }
  .rowdetail .price .infcolor{
  display: flex;
  margin-top: 5%;
  color: #333;
  width: 100%;
  height: 10%;
  }
  .rowdetail .price .order{
    width: 100%;
    height: 50%;
  }
  .rowdetail .price .cost .cost-1 {
       color: red;
  }
  .rowdetail .price .cost .cost-1 b {
    font-size: 100%;
 
  }
  .rowdetail .price .cost .pg{
    display: flex;
  }
  .rowdetail .price  .cost .pg .cs {
    width: 40%;
  }
  .rowdetail .price .cost .pg .cs .cost-2{
    text-decoration: line-through;
    margin-left: 5%;
    font-size: 120%;
    width: 100%;
  }
  .rowdetail .price .cost .pg .giamgia {
    width: 50%;
  }
  .rowdetail .price .cost .pg .giamgia b {
    background-color: red;
    margin-left: 10px;
    color: yellow;
    font-size: 100%;
    border-radius: 10px 10px;
    width: 100%;
  }
  .rowdetail .price .promotion h3 {
    text-align: center;
    }
    .rowdetail .price .promotion label{
    overflow: hidden;
    text-decoration: none;
    font-size: 100%;
    margin-left: 5% ;
  }
  
  .rowdetail .price .order .addpro button {
    color: #fff;
    background-color: #e53935;
    border-color: #e53935;
    margin-top: 7%;
    width: 90%;
    height: 40px;
    border-radius: 5px 5px;
  }
  .rowdetail .price .order .addpro :hover{
    color: #333;
    background-color: #fff;
  }
  .rowdetail .price .order .choosebuy button{
    color: #fff;
    background-color: #1014df;
    border-color: #1014df;
    margin-top: 20px;
    width: 90%;
    height: 40px;
    border-radius: 5px 5px;
  }
  .rowdetail .price .order .choosebuy :hover{
    color: #333;
    background-color: #fff;       
  }

  .rowdetail .parameter h2{
    margin-top: 2%;
  }
  .rowdetail .parameter table{
    border: 1px solid #ddd;
  }
  .rowdetail .parameter table tr, td{
    color: #3c3d41;
    border-bottom: solid 1px #eee;
    padding: 5px;
  }
  .rowdetail .parameter table tr{
    color: #3c3d41;
    border-bottom: solid 1px #eee;
    padding: 5px;
    display: table-row;
  }
  .info .description{
    margin-top: 2%;
    width: 100%;
    height: 60%;
  }
  .info .description label{
    color: #666;
  }
  .info .description a {
    text-decoration: none;
    color: blue;
   }
  .info .description img {
    display: block; 
    margin: auto;
    width: 100%;
    height: 100%;
    }